[Unit]
Description=Polkit GNOME authentication agent

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=default.target
