[user]
	email = savely@krasovs.ky
	name = "Savely Krasovsky"
	signingkey = "key::sk-ecdsa-sha2-nistp256@openssh.com AAAAInNrLWVjZHNhLXNoYTItbmlzdHAyNTZAb3BlbnNzaC5jb20AAAAIbmlzdHAyNTYAAABBBHDJaEiQvmI82frR7ImRoYY40JIrx781hzqPM0XXhupbAFNz+3pT50RzyUiCbIM4V9v3Yqn8086DQoZuBcRvuREAAAAEc3NoOg=="

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = savely@krasovs.ky
	smtpencryption = tls
	smtpserverport = 587
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[core]
	autocrlf = input
