/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: #323232;
	color: white;
	font-family: JetBrains Mono, monospace;
	font-size: 14px;
}

/* Modules */
#workspaces {
	padding: 0 .7em;
}

#mode,
#custom-spotify,
#custom-yandexmusic,
#custom-chromium,
#custom-firefox {
	background: #404040;
	padding: 0 .7em;
}

#tray,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#wireplumber,
#network,
#language {
	padding: 0 .7em;
	border-left: 1px solid #404040;
}

#custom-notification {
	padding: 0 .8em 0 .7em;
	border-left: 1px solid #404040;
}

#clock {
	background: #404040;
}

#clock.date {
	padding: 0 .7em;
}
#clock.time {
	font-weight: bold;
	padding-right: .7em;
}


#mode {
	background: #64727D;
	border-top: 2px solid white;
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
}

#custom-spotify {
	color: #66DC69;
}
#custom-yandexmusic {
	color: #FDD228;
}
#custom-chromium {
	color: #91b0e8;
}
#custom-firefox {
	color: #febf37;
}

#network.vpn {
	color: #66DC69;
}

#network.disconnected {
	color: orange;
}

@keyframes blink-warning {
	to {
		background-color: orange;
	}
}

#custom-notification {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-notification.inhibited-notification,
#custom-notification.inhibited-none {
	animation-name: blink-warning;
	animation-duration: 3s;
}
